@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #ff00ff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff00ff;
}

::-webkit-scrollbar-track {
    background: #ff00ff;
}